.aid {
   margin-bottom: 200px;
   margin-top: 200px;

   &__title {
      color: $black-text;
      font-family: Roboto Slab;
      font-size: 48px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 100px;
      text-transform: uppercase;
      text-align: center;
   }

   &__inner-content {
      width: 565px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }

   &__inner-wrap {
      margin-bottom: 43px;
   }

   &__inner-text {
      color: $black-text;
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      letter-spacing: 0.18px;
   }

   &__wrapper {
      display: flex;
      justify-content: space-between;
   }

   &__inner-link {
      width: 560px;
      background-color: #FFAC1C;
      color: #FFF;
      font-family: Roboto Slab;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      cursor: pointer;
      padding-top: 13px;
      padding-bottom: 13px;
      text-align: center;
      border-radius: 22px;
   }
}