.aid {
  margin-bottom: 12.5em;
  margin-top: 12.5em;
  padding: 0 15px;

  &__title {
    color: $black-text;
    font-family: $robslab-r;
    font-size: 3em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 100px;
    text-transform: uppercase;
    text-align: center;
  }

  &__inner-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 48px;
  }

  &__inner-wrap {
    margin-bottom: 5px;
  }

  &__inner-text {
    color: $black-text;
    font-family: "Inter-Light";
    font-size: 1.1em;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.18px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__inner-link {
    display: inline-block;
    width: 300px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-family: $robslab-r;
    font-size: 1.5em;
    font-weight: 700;
    background: $yellow-btn;
    border-radius: 20px;
    color: $white-text;
    transition: 0.3s;
    margin: 0 auto;
  }

  &__inner-link:hover {
    background: $purple-btn;
    transform: scale(1.2);
    color: $white-text;
  }

  &__inner-img {
    max-width: 100%;
  }

  &__img {
    width: 100%;
    height: 100%;
    border-radius: 22px;
  }
}

@media screen and (max-width: 1200px) {
  .aid {
    margin-top: 150px;
    margin-bottom: 150px;

    &__wrapper {
      grid-template-columns: 1fr;
    }

    &__title {
      margin-bottom: 50px;
    }

    &__inner-img {
      order: -1;
      margin-bottom: 30px;
    }

    &__inner-wrap {
      margin-bottom: 50px;
    }

    &__inner-link {
      margin: 0 auto;
    }

    &__inner-content {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .aid {
    &__title {
      margin-bottom: 40px;
      font-size: 2.5em;
    }

    &__inner-wrap {
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 650px) {
  .aid {
    &__inner-link {
      width: 225px;
      height: 70px;
      line-height: 70px;
      font-size: 1.1em;
    }
  }
}

@media screen and (max-width: 550px) {
  .aid {
    &__title {
      margin-bottom: 30px;
      font-size: 2em;
    }

    &__inner-wrap {
      margin-bottom: 30px;
    }

    &__inner-text {
      text-align: center;
    }
  }
}

@media screen and (max-width: 425px) {
  .aid {
    &__title {
      font-size: 1.4em;
    }

    &__inner-img {
      display: none;
    }
  }
}

@media screen and (max-width: 375px) {
  .aid {
    &__inner-link {
      width: 200px;
      font-size: 1em;
    }

    &__inner-wrap {
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 320px) {
  .aid {
    &__title {
      font-size: 1.1em;
    }

    &__inner-link {
      width: 160px;
      letter-spacing: 0em;
    }

    &__inner-text {
      font-size: 0.8em;
    }
  }
}