.footer {
  font-family: $inter-l;
  margin: $mc;
  display: grid;
  grid-template-columns: 20% 40% 40%;

  a {
    color: $black-text;
  }

  &__logo {
    text-align: center;
    margin: 30px 5px 0 0;
    img {
      max-width: 150px;
      width: 100%;
    }
  }

  &__about {
    margin: 30px;
  }

  &__address {
    margin: 30px;
    a:hover {
      color: $purple-btn;
    }
  }

  &__social {
    padding: 10px 0;
    img {
      width: 50px;
      height: 50px;
      transition: transform 0.3s;
    }

    a {
      margin-right: 10px;
      display: inline-block;
      &:hover {
        img {
          transform: scale(1.4);
        }
      }
    }
  }

  strong {
    font-family: $inter-b;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    grid-template-columns: 30% 70%;
    width: 100%;
    &__about {
      display: none;
    }
  }
}

.footer-wrapper {
  border-top: 5px solid purple;
  background-color: #d1bbe1;
  &__authors {
    text-align: center;
    margin-bottom: 5px;
    font-family: $inter-l;
    p {
      margin: 0;
    }

    a {
      text-decoration: none;
      color: $purple-btn;
      transition: transform 0.3s;
      display: inline-block;
      &:hover {
        transform: scale(1.4);
        cursor: pointer;
      }
    }
  }
}
.footer__menu-label {
  cursor: pointer;
}

.footer__menu-toggle {
  display: none;

  &:checked + .footer__menu-dropdown {
    display: block;
  }
}

.footer__menu-dropdown {
  display: none;
  background-color: rgb(148, 86, 197);
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(249, 247, 247, 0.1);
  z-index: 1;
  top: 100%;
  left: 0;
  width: 200px;
  padding: 10px;
  list-style: none;

  a {
    text-decoration: underline;
    color: #f9f7f7;
    display: block;
    padding: 5px 0;

    &:hover {
      background-color: #f0f0f0;
    }
  }
}
