h2 {
    font-family: $robslab-r;
    text-transform: capitalize;
    font-size: 48px;
    text-align: center;
}

.our-projects {
    margin: 0 auto;
}

.carousel-inner {
    background-color: #8b5ca480;
}

.carousel-item img {
        object-fit: cover;
        vertical-align: middle;
        border-style: none;
        height: 80vh;
}