h2 {
    font-family: $robslab-r;
    text-transform: capitalize;
    font-size: 48px;
    text-align: center;
}

.our-projects {
    margin: 0 auto;
    margin-top: 10em;
}

.carousel {
    margin-top: 3em;
}

.carousel-inner {
    background-color: #8b5ca480;
}

.carousel-item img {
        object-fit: cover;
        vertical-align: middle;
        border-style: none;
        height: 80vh;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.497);
}

.carousel-caption h5 {
    font-family: $robslab-r;
}

.carousel-caption p {
    font-family: $inter-l;
}