h2 {
    font-family: $robslab-r;
    text-transform: capitalize;
    font-size: 48px;
    text-align: center;
}

.our-projects {
    margin: 0 auto;
}

.carousel-item {
    border: 1px solid black;
    width: 85vw;
    justify-content: space-between;
}