.reviews {
  margin-top: 12em;
  margin-bottom: 12em;
  h2 {
    text-transform: uppercase;
  }

  &__wrapper {
    background-color: rgba(101, 56, 128, 0.2);
    column-count: 3;
    padding: 1.5rem;
  }

  &__img {
    border: solid white 0.7rem;
    width: 100%;
    height: auto;
    display: block;
    box-sizing: border-box;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .reviews__wrapper {
    column-count: 2;
  }
}

@media screen and (max-width: 425px) {
  .reviews__wrapper {
    column-count: 1;
  }
}
