.statistic {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 12em;
  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid $purple;
    border-radius: 22px;
    margin-bottom: 20px;
    padding: 10px;
    min-width: 334px;
    min-height: 342px;
  }
}

.statistic__title {
  color: $purple;
  font-size: 4.5em;
  font-family: $inter-b;
  margin-bottom: 0;
}
.statistic__text {
  color: $black-text;
  font-size: 1.3em;
  text-align: center;
  font-family: $robslab-r;
  margin-bottom: 0;
}

.statistic__img {
  max-width: 125px;
}
