.statistik {
    
    margin: 50px;
    
  }
  /* 1-блок */
  .block_1 {
  border: 2px solid #653880;
  border-radius: 22px;
  padding:5px;
  margin: 10px;
  width: 334px;
  height: 342px;
  display: inline-block;
  }
  .hundred {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #653880;
  font-size: 70px;
  font-family: 'Inter-Bold', sans-serif;
  }
  .text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 15px;
  text-align: center;
  font-family: "RobotoSlab-Regular", Arial, sans-serif;
  }
  /* круглый значок */
  .circle-logo {
  /* display: flex;
  justify-content: center; */
  display: block;
  margin: 0 auto;
  width: 130px;
  height: 130px;
  
  }
  /* 2-блок */
  .block_2 {
    border: 2px solid #653880;
    border-radius: 22px;
    padding: 5px;
    margin: 10px;
    width: 334px;
    height: 342px;
    display: inline-block;
  }
  .two-thousand {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #653880;
    font-size: 70px;  
    font-family: 'Inter-Bold', sans-serif;
  }
  /* 3-блок */
  .block_3 {
    border: 2px solid #653880;
    border-radius: 22px;
    padding: 5px;
    margin: 10px;
    width: 334px;
    height: 342px;
    display: inline-block;
  }
  .twelve {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #653880;
    font-size: 70px;
    font-family: 'Inter-Bold', sans-serif;
  }
  /* Светлана М конец */